<h1>{{name}}</h1>
{{#each users}}
<div>Name: {{name}}(id:{{id}})</div>
<div>Gender: {{gender}}</div>
<div>Age: {{age}} years</div>
<div><u>Friends:</u>
  <ul>
    {{#each friends}}<li>{{name}}(id:{{id}})
      <br />
      {{gender}} , {{age}} years
      <div><u>friends :</u></div>
      {{#each mutual_friends}}
      <ul>
        <li>{{name}} ({{id}}) - {{gender}} , {{age}} years<div>
        </li>
      </ul>{{/each}}
      <u>groups:</u>
      <ul>{{#each groups}}
        <li>{{name}} ({{id}}) - {{description}}<br />
          <u><em>members:</em></u>
          <ul>{{#each members}}<li>{{name}} (id:{{id}}) - {{gender}} , {{age}} years</li>{{/each}}</ul>
        </li>
        {{/each}}
      </ul>
      <br />
    </li>
    {{/each}}
  </ul>
</div>
<div><u>Groups:</u>
  <ul>{{#each groups}}
    <li>{{name}} ({{id}}) - {{description}}
      <u><em>members:</em></u>
      <ul>{{#each members}}<li>{{name}} (id:{{id}}) - {{gender}} , {{age}} years</li>{{/each}}</ul>
    </li>
    {{/each}}
  </ul>
</div>
{{/each}}