{{#each data}}

<div class="card  mb-5">
    <div class="card m-3">
        <div class=" border p-3">
            {{#with title}}

            <b>
                <p class=" mb-0">{{userName}}</p>
            </b>
            <p class="mb-0">{{caption}}</p>
            <p class=" mb-0">{{date}}</p>

            {{/with}}
        </div>
        <div class="  p-3">
            {{#with reviewBody}}
            {{#with seller}}
            <p>{{title}}: <span>{{value}}</span></p>
            {{/with}}
            {{#with rating}}
            <p>{{title}}: <span>{{value}}</span></p>
            {{/with}}
            <p>{{text}}</p>
            {{#with advantages}}
            <b>
                <p class="mb-0">{{title}}:</p>
            </b>
            <p class="mb-3">{{text}}</p>
            {{/with}}
            {{#with disadvantages}}
            <b>
                <p class="mb-0">{{title}}:</p>
            </b>
            <p class="mb-3">{{text}}</p>
            {{/with}}

            {{#each images}}

            <img class=" rounded" src="{{this}}" alt="photo" width="70">

            {{/each}}
        </div>
    </div>
    {{/with}}


    {{#each reviewBody.coments}}
    <div class="card m-3 ms-5 p-2">
        <b>
            <p class="py-1 mb-0">{{userName}}</p>
        </b>
        <p class="py-1 mb-0">{{date}}</p>
        <p class="py-1 mb-0">{{text}}</p>
    </div>
    {{/each}}
</div>


{{/each}}